/* styling for the CleanJS site */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-x: hidden;
    word-wrap: break-word;
}

div.headerbox {
    width: 100%;
    padding: 30px;
    text-align: center;
}
div.headerbox h1 {
    font-size: 60px;
}
div.headerbox h2 {
    font-size: 30px;
}

div.whatis {
    margin: 20px;
}
div.whatis h1 {
    font-size: 50px;
}
div.whatis h2 {
    font-size: 20px;
}